<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ACSMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StaffBA</servlet-name>
    <servlet-class>com.acsms.org.ba.StaffBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderClosingBA</servlet-name>
    <servlet-class>com.acsms.org.ba.OrderClosingBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneratePDFBA</servlet-name>
    <servlet-class>com.acsms.org.ba.GeneratePDFBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerBA</servlet-name>
    <servlet-class>com.acsms.org.ba.CustomerBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailsBA</servlet-name>
    <servlet-class>com.acsms.org.ba.OrderDetailsBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransportBookingBA</servlet-name>
    <servlet-class>com.acsms.org.ba.TransportBookingBA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuotationAction</servlet-name>
    <servlet-class>com.acsms.org.ba.QuotationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffBA</servlet-name>
    <url-pattern>/StaffBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderClosingBA</servlet-name>
    <url-pattern>/OrderClosingBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneratePDFBA</servlet-name>
    <url-pattern>/GeneratePDFBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerBA</servlet-name>
    <url-pattern>/CustomerBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailsBA</servlet-name>
    <url-pattern>/OrderDetailsBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransportBookingBA</servlet-name>
    <url-pattern>/TransportBookingBA</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuotationAction</servlet-name>
    <url-pattern>/QuotationAction</url-pattern>
  </servlet-mapping>
</web-app>